{% extends 'layout.html' %}

{% block body %}

<section class ="core-grids">
	<div class="px-4 py-5 my-5 text-center">
		<h1 class="display-5 fw-bold text-body-emphasis">Party Slogan</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
			  Establish a prosperous and industrialized government in which every citizen enjoys
			  their democratic rights.
		  </p>
	  </div>
	</div>
</section>

<section class ="core-grids">
	<div class="px-4 py-5 my-5 text-center">
		<h1 class="display-5 fw-bold text-body-emphasis">Our Vision</h1>
		<div class="col-lg-6 mx-auto">
		  	<p class="lead mb-4">
				Establish a prosperous and industrialized government in which every citizen enjoys
				their democratic rights.
			</p>
		</div>
	</div>
	<div class="px-4 py-5 my-5 text-center">
		<h1 class="display-5 fw-bold text-body-emphasis">Our Mission</h1>
		<div class="col-lg-6 mx-auto">
		  	<p class="lead mb-4">
				To give power to local citizens and enhance public participation, accountability, 
				equity and transparency in the devolved government.
			</p>
		</div>
	</div>
</section>


{% endblock %}
