{% extends "layout.html" %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>rdp</title>
<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-auto">
          <br>
          <p class="title is-2"></p>
          <p class="subtitle is-4"><i></i></p>
          <p class="subtitle is-5"></p>
          <p class="subtitle is-5"></p>
          <p class="subtitle is-5"></p>           
        </div>
        <div class="column is-auto">
          <div id="signup-box" class="signup-box">
            <div class="signup-area">
              <h1 class="title">Register</h1>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-mail" class="input is-success" type="text" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-surname" class="input is-success" type="text" placeholder="Surname">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-othername" class="input is-success" type="text" placeholder="Othername">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-mobile" class="input is-success" type="text" placeholder="Mobile">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-idnumber" class="input is-success" type="text" placeholder="ID Number">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-D_O_B" class="input is-success" type="text" placeholder="Date of Birth">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-gender" class="input is-success" type="text" placeholder="Gender">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-county" class="input is-success" type="text" placeholder="County">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="signup-constituency" class="input is-success" type="text" placeholder="Constituency">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
             <br>              
              <a id="signup-button" class="form-button button is-primary is-inverted is-outlined">Register</a>              
              <br>
              <br>
              <i><a id="feedback" class="feedback"></a></i>
              <br>
              <a class="" href="{{ url_for('home') }}"> Return to Home </a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<!-- 
<script src="../static/js/scripts.js"></script> -->
{% endblock %}

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}

